.app {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template:
    "header header" 50px
    "left-menu emails" 1fr /
    180px 1fr;
}

.app > .emails {
  grid-area: emails;
  padding: 10px 0;
}

.app > .emails > ul {
  list-style: none;
  display: grid;
}

.app > .left-menu {
  grid-area: left-menu;
  padding: 10px;
  padding-left: 0;
}

.app > .left-menu .inbox-list {
  display: grid;
  grid-gap: 10px;
}

.app > .left-menu .inbox-list .item {
  padding: 5px 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.app > .left-menu .inbox-list .item.active {
  background-color: #ff000050;
}

.app > .left-menu .inbox-list .item.toggle {
  background-color: transparent;
}

.emailList {
  display: grid;
  grid-template-columns: 30px 30px 150px 1fr;
  grid-template-rows: 30px;
  padding: 10px;
  background-color: white;
  font-size: 0.9rem;

  border-bottom: solid 1px #00000020;
}

.emailList:first-child {
  border-top: solid 1px #00000020;
}

.emailList:hover {
  box-shadow: -1px 1px 2px 0 #00000040;
  z-index: 1;
}

.emailList.read {
  background-color: rgb(240, 240, 240);
}

.emailList.unread {
  font-weight: 600;
}

.emailList .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emailList .star-checkbox {
  appearance: none;
  position: relative;
  display: grid;
  align-content: center;
}

.emailList .star-checkbox:focus {
  outline: none;
} 

.emailList .star-checkbox:checked::before,
.emailList .star-checkbox::before {
  content: "";
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
}

 .emailList .star-checkbox::before {
  background-image: url(https://www.gstatic.com/images/icons/material/system/2x/star_border_black_20dp.png);
}

.emailList .star-checkbox:checked::before {
  background-image: url(https://www.gstatic.com/images/icons/material/system/2x/star_googyellow500_20dp.png);
}



ul li .email {
  display: inline;
  list-style-type: none;
}
li.email::marker {
  list-style-type: none;
}
